body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

#chat {
  margin-top: 20px;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.bot {
  background: #dff0ff;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
}

.user {
  background: #d4ffd4;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  text-align: right;
}
